.THIS .mbr-top-of-page-wrapper .ant-nav-secondary {
  margin-bottom: 0px;
}
.THIS a.ant-task-bar-icon .fa { 
  pointer-events: none;
}
.THIS .mbr-top-of-page-wrapper .ant-nav-secondary li:last-of-type {
  border-bottom: none;
}
.THIS .mbr-top-of-page-wrapper .ant-nav-col ul {
  max-height: none;
  opacity: 1;
}
.THIS .mbr-top-of-page-wrapper .ant-nav-col > ul {
  padding-bottom: 20px;
}
.THIS .mbr-top-of-page-wrapper .ant-task-item a {
  padding-top: 1px;
}
.THIS .mbr-top-of-page-wrapper .ant-task-item .inline-icons span.fa {
  display: inline-block;
}

.THIS .prime-task-bar-title {
  font-size: 1.2rem;
  margin-bottom: .7rem;
}

.THIS p { 
  color: #5a6a79;
}

.THIS .prime-support-menu__text p:first-of-type { 
   margin-bottom: .2rem;
}

.THIS .prime-support-menu__text p { 
   font-size: .9rem;
   margin-bottom: .3rem;
}

.THIS .prime-support-menu__text p.prime-text-sm { 
   font-size: .8rem;
}

.THIS .mbr-top-of-page-wrapper .ant-nav-secondary li {
  list-style: none;
  border-bottom: none;
  border-top: 1px solid #EEEEEE;
}
.THIS .mbr-top-of-page-wrapper .ant-nav-secondary li:first-of-type {
  border-top: none;
}

@media screen and (min-width: 480px) {
  .THIS .prime-task-bar-content--two-wide .ant-task-item {
    width: 50%;
  }
  .THIS .ant-task-bar-content.prime-task-bar-content--two-wide { 
   	width: 400px;
  }
}



.THIS .prime-support-menu__list-item {
  padding-top: .8rem;
  display: flex;
  flex-direction: row;
}
.THIS .prime-support-menu__list-item .prime-support-menu__icon {
  font-size: 2.2rem;
  color: #5a6a79;
  padding-top: .3rem;
  margin-right: 2rem;
}
.THIS .prime-support-menu__list-item .prime-support-menu__text {
  color: #00609A;
}