.THIS .circle{
    color: #fff;
    background-color: #0079c2;
    border-radius: 50%;
    width: 50px;
    text-align:center;
    vertical-align:middle;
        display: table-cell;
   
    text-align: center;
    border: 1px solid #0079c2;
    overflow: hidden;
    
}


.THIS .menuIcon{
    width: 25px;
    height: 4px;
    background-color: #0079c2;
    margin: 6px 0;
    
}

.THIS .circle1{
       text-align:center;
    vertical-align:middle;
        display: table-cell;
    width: 50px;
   
  
}

.THIS .circle2{
       text-align:left;
    vertical-align:middle;
        display: table-cell;
    width: 260px;
   height: 70px;
}

.THIS .test1{
    font-size:35px;
}

.THIS .container1Inactive{
    display:none; 
    background-color: #0079c2;
}

.THIS .container1Active{
    display:block; 
}

.THIS .logoDiv{
    vertical-align:middle;display: table-cell;
    
}

.THIS .hideDiv{
    display:none; 
}

.THIS .transform{
    -webkit-transition: all 4s ease;  
  -moz-transition: all 4s ease;  
  -o-transition: all 4s ease;  
  -ms-transition: all 4s ease;  
  transition: all 4s ease;
}

.THIS .transformActive{
	background-color:#0079c2;
}