.THIS .btnSave{
    color : #FFF;
    background-color : #F40000;
    border : #F40000 1px solid;
    float:right;
    font-weight: bold;
}
.THIS .btnCancel{
    color : #F40000;
    border : #F40000 1px solid;
    margin-right: 10px;
    font-weight: bold;
}
.THIS .slds-text-heading--medium {
    text-align: left;
    font-weight: bold;
    color: lightslategray;
    font-size: 20px;
}

.THIS .slds-spinner:before, .THIS .slds-spinner__dot-a:before, .THIS .slds-spinner__dot-b:before, .THIS .slds-spinner:after, .THIS .slds-spinner__dot-a:after, .THIS .slds-spinner__dot-b:after{background:#f40000;}