<apex:component controller="GeographyInfo">
    <!-- var ZipRecords = sforce.connection.query("SELECT Id,Name,Area__c,County__c,RatingArea__c,SearchField__c,Zip_Code__c,State__c FROM Geographical_Info__c WHERE (Zip_Code__c LIKE control.zipcode) ORDER BY Zip_Code__c");
console.log('Ziprecords'+ZipRecords);
control.bpTree.response.ZipCodeList= ZipRecords; -->
    <script src="/soap/ajax/30.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/24.0/apex.js" type="text/javascript"></script>
    <script>
    
    baseCtrl.prototype.onenter = function(scope){
        if(scope.billingzipcode != undefined && scope.billingzipcode != ''){
            Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.GeographyInfo.getCounty}',
                scope.billingzipcode,
                function(result, event){
                    
                    var billgeoList = [];
                    angular.forEach(result, function(value, key) {
                        var billgeoElement = {};
                        billgeoElement.BillingMappedCode = value.Area__c;
                        billgeoElement.BillingMinCounty = value.County__c;
                        billgeoElement.BillingBrand = value.Name;
                        billgeoElement.BillingRatingArea = value.RatingArea__c;
                        billgeoElement.BillingSearchField = value.SearchField__c;
                        billgeoElement.BillingMinState = value.State__c;
                        billgeoElement.BillingZipCode = value.Zip_Code__c;
                        billgeoList.push(billgeoElement);
                    });
                    
                    if (event != null){
                        if (event.status != null && event.status) {
                            scope.bpTree.response.BillingZipCode3 = [];
                            scope.bpTree.response.BillingZipCode3 = scope.billingzipcode ;
                            scope.bpTree.response.BillingZipCodeList =[]; //array
                            
                            scope.bpTree.response.BillingZipCodeList = billgeoList;
                            scope.bpTree.response.BillingCounty1 = ""; //object vs string
                            
                            if(billgeoList != null && billgeoList.length === 1){
                                scope.bpTree.response.BillingCounty1 = scope.bpTree.response.BillingZipCodeList[0].BillingMinCounty;
                                scope.bpTree.response["TypeAheadBillingZip-Block"] = {};
                                
                                scope.bpTree.response.BillingMappedCode = scope.bpTree.response.BillingZipCodeList[0].BillingMappedCode;
                                scope.bpTree.response.BillingMinCounty = scope.bpTree.response.BillingZipCodeList[0].BillingMinCounty;
                                scope.bpTree.response.BillingBrand = scope.bpTree.response.BillingZipCodeList[0].BillingBrand;
                                scope.bpTree.response.BillingRatingArea = scope.bpTree.response.BillingZipCodeList[0].BillingRatingArea;
                                scope.bpTree.response.BillingSearchField = scope.bpTree.response.BillingZipCodeList[0].BillingSearchField;
                                scope.bpTree.response.BillingMinState = scope.bpTree.response.BillingZipCodeList[0].BillingMinState;
                                scope.bpTree.response.BillingZipCode = scope.bpTree.response.BillingZipCodeList[0].BillingZipCode;
                                
                                scope.bpTree.response.Step["TypeAheadBillingZip-Block"] = {};
                                scope.bpTree.response.Step["TypeAheadBillingZip-Block"] = billgeoList[0];
                            }
                            else{
                                if(typeof scope.bpTree.response.BillingBrand != "undefined"){
                                    delete scope.bpTree.response.BillingMappedCode;
                                    delete scope.bpTree.response.BillingMinCounty;
                                    delete scope.bpTree.response.BillingBrand;
                                    delete scope.bpTree.response.BillingRatingArea;
                                    delete scope.bpTree.response.BillingSearchField;
                                    delete scope.bpTree.response.BillingMinState;
                                    delete scope.bpTree.response.BillingZipCode;
                                }
                                
                                /*if(typeof scope.bpTree.response.MappedCode != "undefined"){
                      delete scope.bpTree.response.MappedCode;
                    }*/
                  }
                      
                  } else if (event.type != null && event.type === 'exception') {
                      console.log(event.message);
                  }
                }
                
                scope.$apply();
            },
            {escape: true}
        );
      
      
      
  } 
      if(scope.mailingzipcode != undefined && scope.mailingzipcode != ''){
          Visualforce.remoting.Manager.invokeAction(
              '{!$RemoteAction.GeographyInfo.getCounty}',
              scope.mailingzipcode,
              function(result, event){
                  
                  var mailgeoList = [];
                  angular.forEach(result, function(value, key) {
                      var mailgeoElement = {};
                      mailgeoElement.MailingMappedCode = value.Area__c;
                      mailgeoElement.MailingMinCounty = value.County__c;
                      mailgeoElement.MailingBrand = value.Name;
                      mailgeoElement.MailingRatingArea = value.RatingArea__c;
                      mailgeoElement.MailingSearchField = value.SearchField__c;
                      mailgeoElement.MailingMinState = value.State__c;
                      mailgeoElement.MailingZipCode = value.Zip_Code__c;
                      mailgeoList.push(mailgeoElement);
                  });
                  
                  if (event != null){
                      if (event.status != null && event.status) {
                          scope.bpTree.response.MailingZipCode3 = [];
                          scope.bpTree.response.MailingZipCode3 = scope.mailingzipcode ;
                          scope.bpTree.response.MailingZipCodeList =[]; //array
                          
                          scope.bpTree.response.MailingZipCodeList = mailgeoList;
                          scope.bpTree.response.MailingCounty1 = ""; //object vs string
                          
                          if(mailgeoList != null && mailgeoList.length === 1){
                              scope.bpTree.response.MailingCounty1 = scope.bpTree.response.MailingZipCodeList[0].MailingMinCounty;
                              scope.bpTree.response["TypeAheadMailingZip-Block"] = {};
                              
                              scope.bpTree.response.MailingMappedCode = scope.bpTree.response.MailingZipCodeList[0].MailingMappedCode;
                              scope.bpTree.response.MailingMinCounty = scope.bpTree.response.MailingZipCodeList[0].MailingMinCounty;
                              scope.bpTree.response.MailingBrand = scope.bpTree.response.MailingZipCodeList[0].MailingBrand;
                              scope.bpTree.response.MailingRatingArea = scope.bpTree.response.MailingZipCodeList[0].MailingRatingArea;
                              scope.bpTree.response.MailingSearchField = scope.bpTree.response.MailingZipCodeList[0].MailingSearchField;
                              scope.bpTree.response.MailingMinState = scope.bpTree.response.MailingZipCodeList[0].MailingMinState;
                              scope.bpTree.response.MailingZipCode = scope.bpTree.response.MailingZipCodeList[0].MailingZipCode;
                              
                              scope.bpTree.response.Step["TypeAheadMailingZip-Block"] = {};
                              scope.bpTree.response.Step["TypeAheadMailingZip-Block"] = mailgeoList[0];
                          }
                          else{
                              if(typeof scope.bpTree.response.MailingBrand != "undefined"){
                                  delete scope.bpTree.response.MailingMappedCode;
                                  delete scope.bpTree.response.MailingMinCounty;
                                  delete scope.bpTree.response.MailingBrand;
                                  delete scope.bpTree.response.MailingRatingArea;
                                  delete scope.bpTree.response.MailingSearchField;
                                  delete scope.bpTree.response.MailingMinState;
                                  delete scope.bpTree.response.MailingZipCode;
                              }
                              
                              /*if(typeof scope.bpTree.response.MappedCode != "undefined"){
                      delete scope.bpTree.response.MappedCode;
                    }*/
                  }
                      
                  } else if (event.type != null && event.type === 'exception') {
                      console.log(event.message);
                  }
                }
                
                scope.$apply();
            },
            {escape: true}
        );
     }
     
  }
  
  </script>
</apex:component>