<!--***********************************************************************************
Component Name : SGA_C02_DocumentChkEmailComponent
Created Date   : 14-July-2017
Created By     : IDC Offshore
Description    : This component is used for displaying the Document Checklist record for Application
                with Status 'Missing Information'
************************************************************************************-->

<apex:component controller="SGA_AP18_DCEmailCompCtrl" access="global" >
 <!-- Component Definition -->
<apex:attribute name="recId" description="This is the Id for the record." type="Id" assignTo="{!appId}"/>
<apex:attribute name="dcStatus" type="String" description="This is the status to filter Document Checklist records." assignTo="{!docStatus}"/>
  
    <table border="1" style="border-collapse: collapse;" cellpadding="5">
        <thead>
            <tr>
                <th style="text-align:left;color:blue;font-family:Calibri;font-size:14.5;">Document Name</th>
                <th style="text-align:left;color:blue;font-family:Calibri;font-size:14.5;">Document Return Reason</th>
                <th style="text-align:left;color:blue;font-family:Calibri;font-size:14.5;">Reviewer Notes</th>
            </tr>
        </thead>
        
        <tbody>
               <apex:repeat value="{!docList}" var="docCheck">
                 <tr>
                      <td style="text-align:left;font-family:Calibri;font-size:14.5;"><apex:outputText value="{!docCheck.Document_Name__c}"></apex:outputText></td>
                      <td style="text-align:left;font-family:Calibri;font-size:14.5;"><apex:outputText value="{!docCheck.Document_Returned_Reason__c}"></apex:outputText></td>
                      <td style="text-align:left;font-family:Calibri;font-size:14.5;"><apex:outputText value="{!docCheck.Reviewer_Notes__c}"></apex:outputText></td>
                 </tr> 
                </apex:repeat>
        </tbody>
     </table> 
</apex:component>