.THIS {
    
}

.THIS .broker-search-main {
    padding: 20px;
}

.THIS .basic-search {
    padding: 0px 20px 0px 0px;
}

.THIS .basic-search-tbl {
    padding: 20px;
    border: solid 1px lightgrey;
}

.THIS .search-heading {
    background-color: #0079C2;
}
.THIS .search-heading-txt {
    color: white;
}

.THIS .buttonHeight{
    width:70px;
    height:30px;
}

.THIS .toggle {
    display: none;
}

.THIS .uiButton {
   /* color: white !important;
    font-family: "Roboto", Serif;
    font-weight: bold;
    font-size: 16px;
	width:100%;
	height:50px;  */  
}